
/*heading*/
.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 10px;
}

.header h2 {
  color: mediumaquamarine;
  flex-grow: 3;
  padding-left: 10px;
}

.header span {
  display: block;
  font-size: 16px;
  font-weight: 100;
  padding: 20px;
}

.column {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border: 1px solid black;
}

.column .large {
  width: 630px;
  border: 3px solid black;
}

.column .large p, h2 {
  border: 1px solid black;
}

.column .medium {
  width: 300px;
  border: 3px solid black;
}

.column .medium p, h2 {
  border: 1px solid black;
}

.column .small {
  width: 240px;
  border: 3px solid black;
}

.column .small h3, p, img {
  border: 1px solid black;
}
